<div style="height:155px;" class="sparkline" data-sparkline-{{description.cdid}} data-uri="{{uri}}">
{{#unless cookies.jsEnhanced}}
<img class="stat__image--home" class="js-enhance--hide" src="{{uri}}sparklineimage">
{{/unless}}
</div>
{{!-- Dynamically generated linechart configuration file --}}
<script type="text/javascript" src="{{uri}}sparklineconfig"></script>