# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# VSCode
.vscode/

.anvil
.target
target
.dpl
/target/
*.psd
*.DS_Store
Thumbs.db
*~HEAD
src/main/scss/dist
sonar-project.properties
src/main/web/node_modules/
node_modules/
src/main/web/dist/
/highcharts/
export-server.log
#src/main/content
npm-debug.log
.tmp
src/main/web/assets/
src/main/web/js/app.js
