<div class=" clickable-wrap">
	<li class="col col--md-half col--lg-one-third tiles__item tiles__item--nav-type-fixed">
		<h3 class="tiles__title-h3 tiles__title-h3--nav">
			<a href="{{uri}}">{{description.title}}</a>
		</h3>
		<p class="tiles__content tiles__content--nav">{{description.summary}}</p>
	</li>
</div>
