{{!-- This is the base template, all other templates inherits from this base template --}}

{{!-- Resolve parents of current uri for and assign to variable breadcrumb for building breadcrumb --}}
{{resolveParents uri assign="breadcrumb"}}
{{!-- Resolve navigation fetching children of root uri "/" with depth 2 --}}
{{resolveTaxonomy depth=2 assign="navigation"}}

{{#block "block-header"}}
	{{> partials/header}}
{{/block}}
<main id="main" role="main" tabindex="-1">
{{#block "block-main"}}
{{/block}}
</main>

{{#block "block-footer"}}
	{{> partials/footer}}
{{/block}}
