{{#partial "block-title-wrapper"}}
{{/partial}}

{{#partial "block-search-bar"}}
	<div class="hide--sm">
		{{> partials/banner}}
	</div>
	{{> list/partials/search-header}}
	<div class="background--ship-grey padding-top-sm--2">
		<div class="wrapper">
			{{> list/partials/tabs}}
		</div>
	</div>
{{/partial}}

{{#partial "block-list-tabs"}}
	{{> list/partials/search-tabs docCounts=counts.docCounts total=counts.numberOfResults}}
{{/partial}}

{{#partial "block-filters"}}
	<fieldset class="filters__fieldset">
		<legend class="filters__title">{{labels.content-types-to-show}}</legend>
		{{> list/filters/data docCounts=counts.docCounts}}
	</fieldset>
	<input class="sort__input" type="hidden" name="q" value="{{parameters.q.0}}">
{{/partial}}

{{#partial "block-featured-result"}}
	{{> partials/related/timeseries-tool href="timeseriestool" }}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true}}