{{#partial "block-title-wrapper"}}
{{/partial}}

{{#partial "block-search-bar"}}
	{{> list/partials/search-header}}
	<div class="background--ship-gray padding-top-sm--2">
		<div class="wrapper">
			{{> list/partials/tabs}}
		</div>
	</div>
{{/partial}}

{{#partial "block-list-tabs"}}
	{{> list/partials/search-tabs docCounts=counts.docCounts total=counts.numberOfResults}}
{{/partial}}

{{#partial "block-filters"}}
	<h4 class="filters__title">Content types to show</h4>
	{{> list/filters/publications docCounts=counts.docCounts}}
	<input class="sort__input" type="hidden" name="q" value="{{parameters.q.0}}">
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true}}