{{!-- {{#partial "block-title"}}
 	User requested data
 {{/partial}} --}}


{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	{{> list/filters/publish-date}}
	{{!-- {{> list/filters/topics}} --}}
{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="user requested data"}}
	</div>
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list showBreadcrumb=true breadcrumbLabel="user requested data"}}