{{#partial "block-title"}}
	Browse our statistics by A to Z
{{/partial}}

{{!-- {{#partial "block-results-text"}}
 	<div class="col col--md-28 col--lg-38">
 		<p>You can find all of the statistical releases we produce in this comprehensive list.</p>
 	</div>
 {{/partial}} --}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="results"}}
	</div>
{{/partial}}

{{#partial "block-filters"}}
		{{> list/filters/keywords}}
		<h4 class="filters__title">Choose a letter to browse</h4>
		<div class="filters__a-z">
			<ul class="filters__a-z-list padding-top-md--1 padding-top-sm--1">
			 	{{> partials/az-letter letter="a"}}
			 	{{> partials/az-letter letter="b"}}
			 	{{> partials/az-letter letter="c"}}
			 	{{> partials/az-letter letter="d"}}
			 	{{> partials/az-letter letter="e"}}
			 	{{> partials/az-letter letter="f"}}
			 	{{> partials/az-letter letter="g"}}
			 	{{> partials/az-letter letter="h"}}
			 	{{> partials/az-letter letter="i"}}
			 	{{> partials/az-letter letter="j"}}
			 	{{> partials/az-letter letter="k"}}
			 	{{> partials/az-letter letter="l"}}
			 	{{> partials/az-letter letter="m"}}
			 	{{> partials/az-letter letter="n"}}
			 	{{> partials/az-letter letter="o"}}
			 	{{> partials/az-letter letter="p"}}
			 	{{> partials/az-letter letter="q"}}
			 	{{> partials/az-letter letter="r"}}
			 	{{> partials/az-letter letter="s"}}
			 	{{> partials/az-letter letter="t"}}
			 	{{> partials/az-letter letter="u"}}
			 	{{> partials/az-letter letter="v"}}
			 	{{> partials/az-letter letter="w"}}
			 	{{> partials/az-letter letter="x"}}
			 	{{> partials/az-letter letter="y"}}
			 	{{> partials/az-letter letter="z"}}
			 </ul>
		</div>
		{{!-- <input type="hidden" name="az" value="{{parameters.az.0}}"> --}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list hideSort=true}}
