{{#partial "block-title"}}
	Browse our statistics by A to Z
{{/partial}}

{{!-- {{#partial "block-results-text"}}
 	<div class="col col--md-28 col--lg-38">
 		<p>You can find all of the statistical releases we produce in this comprehensive list.</p>
 	</div>
 {{/partial}} --}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="results"}}
	</div>
{{/partial}}

{{#partial "block-filters"}}
		{{> list/filters/keywords}}
		<h4 class="filters__title">Choose a letter to browse</h4>
		<div class="filters__a-z">
			<ul class="filters__a-z-list padding-top-md--1 padding-top-sm--1">
			 	{{> partials/az-letter letter="A" class="filters__a-z-list-item" selected=(eq parameters.az.0 "A") disabled=result.docCounts.a}}
			 	{{> partials/az-letter letter="B" class="filters__a-z-list-item" selected=(eq parameters.az.0 "B") disabled=result.docCounts.b}}
			 	{{> partials/az-letter letter="C" class="filters__a-z-list-item" selected=(eq parameters.az.0 "C") disabled=result.docCounts.c}}
			 	{{> partials/az-letter letter="D" class="filters__a-z-list-item" selected=(eq parameters.az.0 "D") disabled=result.docCounts.d}}
			 	{{> partials/az-letter letter="E" class="filters__a-z-list-item" selected=(eq parameters.az.0 "E") disabled=result.docCounts.e}}
			 	{{> partials/az-letter letter="F" class="filters__a-z-list-item" selected=(eq parameters.az.0 "F") disabled=result.docCounts.f}}
			 	{{> partials/az-letter letter="G" class="filters__a-z-list-item" selected=(eq parameters.az.0 "G") disabled=result.docCounts.g}}
			 	{{> partials/az-letter letter="H" class="filters__a-z-list-item" selected=(eq parameters.az.0 "H") disabled=result.docCounts.h}}
			 	{{> partials/az-letter letter="I" class="filters__a-z-list-item" selected=(eq parameters.az.0 "I") disabled=result.docCounts.i}}
			 	{{> partials/az-letter letter="J" class="filters__a-z-list-item" selected=(eq parameters.az.0 "J") disabled=result.docCounts.j}}
			 	{{> partials/az-letter letter="K" class="filters__a-z-list-item" selected=(eq parameters.az.0 "K") disabled=result.docCounts.k}}
			 	{{> partials/az-letter letter="L" class="filters__a-z-list-item" selected=(eq parameters.az.0 "L") disabled=result.docCounts.l}}
			 	{{> partials/az-letter letter="M" class="filters__a-z-list-item" selected=(eq parameters.az.0 "M") disabled=result.docCounts.m}}
			 	{{> partials/az-letter letter="N" class="filters__a-z-list-item" selected=(eq parameters.az.0 "N") disabled=result.docCounts.n}}
			 	{{> partials/az-letter letter="O" class="filters__a-z-list-item" selected=(eq parameters.az.0 "O") disabled=result.docCounts.o}}
			 	{{> partials/az-letter letter="P" class="filters__a-z-list-item" selected=(eq parameters.az.0 "P") disabled=result.docCounts.p}}
			 	{{> partials/az-letter letter="Q" class="filters__a-z-list-item" selected=(eq parameters.az.0 "Q") disabled=result.docCounts.q}}
			 	{{> partials/az-letter letter="R" class="filters__a-z-list-item" selected=(eq parameters.az.0 "R") disabled=result.docCounts.r}}
			 	{{> partials/az-letter letter="S" class="filters__a-z-list-item" selected=(eq parameters.az.0 "S") disabled=result.docCounts.s}}
			 	{{> partials/az-letter letter="T" class="filters__a-z-list-item" selected=(eq parameters.az.0 "T") disabled=result.docCounts.t}}
			 	{{> partials/az-letter letter="U" class="filters__a-z-list-item" selected=(eq parameters.az.0 "U") disabled=result.docCounts.u}}
			 	{{> partials/az-letter letter="V" class="filters__a-z-list-item" selected=(eq parameters.az.0 "V") disabled=result.docCounts.v}}
			 	{{> partials/az-letter letter="W" class="filters__a-z-list-item" selected=(eq parameters.az.0 "W") disabled=result.docCounts.w}}
			 	{{> partials/az-letter letter="X" class="filters__a-z-list-item" selected=(eq parameters.az.0 "X") disabled=result.docCounts.x}}
			 	{{> partials/az-letter letter="Y" class="filters__a-z-list-item" selected=(eq parameters.az.0 "Y") disabled=result.docCounts.y}}
			 	{{> partials/az-letter letter="Z" class="filters__a-z-list-item" selected=(eq parameters.az.0 "Z") disabled=result.docCounts.z}}
			 </ul>
		</div>
		{{!-- <input type="hidden" name="az" value="{{parameters.az.0}}"> --}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list hideSort=true}}