{{#partial "block-sort"}}

{{/partial}}

{{#partial "block-filters"}}
	<div class="tiles__content tiles__content--nav">
		<div class="filters">
			{{> list/filters/keywords}}
			<input type="hidden" name="q" value="{{parameters.q.0}}">
		</div>
		<button type="submit" class="btn btn--primary btn--thick margin-top-sm--2 margin-top-md--2 js-enhance--hide">{{labels.search-filter}}</button>
	</div>
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list listPage=true listLabel="content"}}