{{#partial "block-title"}}
	Browse our statistics by A to Z
{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		<p>You can find all of the statistical releases we produce in this comprehensive list.</p>
	</div>
{{/partial}}

{{#partial "block-sort"}}
	
{{/partial}}

{{#partial "block-filters"}}
		{{> list/filters/keywords}}
		<h4 class="filters__title">Choose a letter to browse</h4>
		<div class="filters__a-z">
			{{> partials/az class="filters"}}
		</div>
		<input type="hidden" name="az" value="{{parameters.az.0}}">
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list}}