{{#partial "block-list-tabs"}}
	<li>
		<a href="/search?q={{parameters.q.0}}" class="tab__item">
			All results
		</a>
	</li>
	<li>
		<a href="/searchdata?q={{parameters.q.0}}" class="tab__item">
			Data
		</a>
	</li>
	<li>
		<a href="/searchpublication?q={{parameters.q.0}}" class="tab__item tab__item--active">
			Publications
		</a>
	</li>
{{/partial}}

{{#partial "block-filters"}}
	<h4 class="filters__title">Content types to show</h4>
	{{> list/filters/publications}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true listLabel="Search"}}