{{!-- {{#partial "block-title"}}
 	List of all {{#last breadcrumb}}{{description.title}}{{/last}}
 {{/partial}} --}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="releases"}}
	</div>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	<input type="hidden" name="q" value="{{parameters.q.0}}">
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list showBreadcrumb=true hideSort=true breadcrumbLabel="List"}}