{{!-- {{#partial "block-title"}}
 	Freedom of Information (FOI) previous requests
 {{/partial}} --}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="previous Freedom of Information (FOI) requests"}}
	</div>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	{{> list/filters/publish-date}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list showBreadcrumb=true breadcrumbLabel="Freedom of Information (FOI) previous requests" }}