{{!-- {{#partial "block-title"}}
 	{{#last breadcrumb}}{{description.title}}{{/last}} methodology
 {{/partial}} --}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="methodology"}}
	</div>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list showBreadcrumb=true breadcrumbLabel="Methodology"}}