{{#partial "block-list-tabs"}}
	<li>
		<a href="datalist?q={{parameters.q.0}}" class="tab__item">
			Data
		</a>
	</li>
	<li>
		<a href="publication?q={{parameters.q.0}}" class="tab__item tab__item--active">
			Publications
		</a>
	</li>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/publications keywords=true date=true}}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true listPage=true listLabel="publications" }}