{{#partial "block-list-tabs"}}
	<li>
		<a href="datalist?query={{parameters.query.0}}" class="tab__item">
			Data
		</a>
	</li>
	<li>
		<a href="publication?query={{parameters.query.0}}" class="tab__item tab__item--active">
			Publications
		</a>
	</li>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	{{> list/filters/publications}}
	{{> list/filters/publish-date }}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true listPage=true listLabel="publications" }}