{{#partial "block-main"}}
	<div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col one">
					{{> list/partials/list-page-breadcrumb label="Data"}}
					{{#each breadcrumb}}
						{{#if @last}}
							<h1 class="page-intro__title margin-bottom--double">{{#if_eq description.title "Home"}}All{{else}}{{description.title}}{{/if_eq}} data</h1>
						{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{!-- /page-intro --}}
<!-- /wrapper -->
	<div class="wrapper print-links">
		<form id="filters">
			<div class="col-wrap print-hidden">
				<div class="col">
					<div class="float-right">
						{{> list/filters/sort}}
					</div>
				</div>
			</div>
			<div class="col col--md-12 col--lg-18 margin-bottom">
				<div class="tiles__item tiles__item--nav-type flush-col print--hide">
					<div class="tiles__title-h3 tiles__title-h3--nav">
						<h3 class="inline">Refine results</h3>
						<a href="./datalist" value="Reset" class="btn btn--primary btn--thin btn--narrow btn--small float-right">{{labels.search-refine-clear}}</a>
					</div>
					<div class="tiles__content tiles__content--nav">
						<div class="filters">
							{{> list/filters/keywords}}
							<h4 class="filters__title">Data format</h4>
							<ul class="list--neutral">
								<li>
									<div class="filters__field">
										<input id="checkbox-timeseries" type="checkbox" name="filter" value="single_time_series" {{#contains parameters.filter 'single_time_series'}}checked{{/contains}} >
										<label for="checkbox-timeseries">
											Time series data
										</label>
									</div>
								</li>
								<li>
									<div class="filters__field">
										<input id="checkbox-dataset" type="checkbox" name="filter" value="large_dataset" {{#contains parameters.filter 'large_dataset'}}checked{{/contains}}>
										<label for="checkbox-dataset">
											Spreadsheets
										</label>
									</div>
								</li>
							</ul>
							<h4 class="filters__title">Keywords</h4>
							<ul class="list--neutral">
								<li>
									<div class="filters__field">
										<input id="checkbox-sa" type="checkbox" name="keywords" value="Seasonally adjusted" {{#contains parameters.keywords 'Seasonally adjusted'}}checked{{/contains}} >
										<label for="checkbox-sa">
											Seasonally adjusted (SA)
										</label>
									</div>
								</li>
								<li>
									<div class="filters__field">
										<input id="checkbox-nsa" type="checkbox" name="keywords" value="Non seasonally adjusted" {{#contains parameters.keywords 'Non seasonally adjusted'}}checked{{/contains}}>
										<label for="checkbox-nsa">
											Non seasonally adjusted (NSA)
										</label>
									</div>
								</li>
								<li>
									<div class="filters__field">
										<input id="checkbox-gender" type="checkbox" name="keywords" value="By gender" {{#contains parameters.keywords 'By gender'}}checked{{/contains}}>
										<label for="checkbox-gender">
											By gender
										</label>
									</div>
								</li>
								<li>
									<div class="filters__field">
										<input id="checkbox-age" type="checkbox" name="keywords" value="By age" {{#contains parameters.keywords 'By age'}}checked{{/contains}}>
										<label for="checkbox-age">
											By age
										</label>
									</div>
								</li>
							</ul>
							{{> list/filters/publish-date}}
						</div>
						<button type="submit" class="btn btn--primary btn--thick margin-top--double">{{labels.search-filter}}</button>
						</div>
					</div>
					{{> partials/archives-box}}
				</div>

			{{!-- RESULTS --}}
			<div class="results col col--md-34 col--lg-40 margin-left-md--1">
				{{> list/partials/results-text}}
				{{> list/partials/results}}
				{{> list/partials/paginator}}
			</div>
		</form>
	</div>
{{/partial}}
	{{!-- Inheriting from base list template --}}
	{{> list/base/list}}