{{#partial "block-title"}}
	All data related to {{#last breadcrumb}}{{description.title}}{{/last}}
{{/partial}}


{{#partial "block-list-tabs"}}
	<li>
		<a href="datalist?query={{parameters.query.0}}" class="tab__item tab__item--active">
			Data
		</a>
	</li>
	<li>
		<a href="publications?query={{parameters.query.0}}" class="tab__item">
			Publications
		</a>
	</li>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	<h4 class="filters__title">Content types to show</h4>
	{{> list/filters/data}}
	{{> list/filters/publish-date }}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true showBreadcrumb=true breadcrumbLabel="Data"}}