<main id="main" role="main" tabindex="-1">
<div class="wrapper panel--top-mar">
	{{> list/partials/list-page-breadcrumb label="Data"}}
	<p class="page-header__title">
		Data
	</p>
	{{#each breadcrumb}}
	{{#if @last}}
	<h1 class="page-header__title flush--half--bottom">{{description.title}}</h1>
	{{/if}}
	{{/each}}
	
</div>
<!-- /wrapper -->
<div class="wrapper panel--mar print-links">
	<form id="filters">
		<div class="grid-wrap panel--bottom-mar print-hidden">
			<div class="grid-col desktop-grid-one-quarter desktop-grid-push-three-quarters tablet-grid-full-width">
				{{> list/filters/sort}}
			</div>
		</div>
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-one-third">
				<article class="box box--padded sectioned print-hidden">
					<div class="panel panel--bottom-pad panel--separated--bottom flush">
						<h3 class="flush float-left">Refine results</h3>
						<a href="./datalist" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">{{labels.search-refine-clear}}</a>
					</div>
					<div class="box__content">
						{{list/filters/keywords}}
						<div class="panel panel--bottom-pad panel--separated--bottom flush">
							<span class="flush float-left">Data format</span>
						</div>
						<div class="box__content">
							<ul class="list--neutral">
								<li>
									<input id="checkbox-timeseries" type="checkbox" name="type" value="timeseries" {{#contains parameters.type 'timeseries'}}checked{{/contains}} >
									<label for="checkbox-timeseries">
										Single time series
									</label>
								</li>
								<li>
									<input id="checkbox-dataset" type="checkbox" name="type" value="dataset" {{#contains parameters.type 'dataset'}}checked{{/contains}}>
									<label for="checkbox-dataset">
										Large dataset
									</label>
								</li>
							</ul>
						</div>
						<div class="panel panel--bottom-pad panel--separated--bottom flush">
							<span class="flush float-left">Keywords</span>
						</div>
						<div class="box__content">
							<ul class="list--neutral">
								<li>
									<input id="checkbox-sa" type="checkbox" name="keywords" value="Seasonally adjusted" {{#contains parameters.keywords 'Seasonally adjusted'}}checked{{/contains}} >
									<label for="checkbox-sa">
										Seasonally adjusted (SA)
									</label>
								</li>
								<li>
									<input id="checkbox-nsa" type="checkbox" name="keywords" value="Non seasonally adjusted" {{#contains parameters.keywords 'Non seasonally adjusted'}}checked{{/contains}}>
									<label for="checkbox-nsa">
										Non seasonally adjusted (NSA)
									</label>
								</li>
								<li>
									<input id="checkbox-gender" type="checkbox" name="keywords" value="By gender" {{#contains parameters.keywords 'By gender'}}checked{{/contains}}>
									<label for="checkbox-gender">
										By gender
									</label>
								</li>
								<li>
									<input id="checkbox-age" type="checkbox" name="keywords" value="By age" {{#contains parameters.keywords 'By age'}}checked{{/contains}}>
									<label for="checkbox-age">
										By age
									</label>
								</li>
							</ul>
						</div>
						{{> list/filters/publish-date}}
					</div>
					<div>
						<button type="submit" class="btn btn--primary btn--small panel--mar-small">Filter</button>
					</div>
				</article>
				{{> partials/archives-box}}
				<!-- /box -->
			</div>
			<!-- /desktop-grid-one-third -->
			<div class="grid-col desktop-grid-two-thirds">
				{{> list/partials/results-text}}
				{{> list/partials/results}}				
				{{> list/partials/paginator}}
			</div>
			<!-- /desktop-grid-two-thirds -->
		</div>
		<!-- /grid-wrap -->
	</form>
</div>
<!-- /wrapper panel--mar -->
</main>