{{#partial "block-title"}}
	All data related to {{> partials/location }}
{{/partial}}


{{#partial "block-list-tabs"}}
	<li>
		<a href="datalist{{#if parameters.query.0}}?query={{parameters.query.0}}{{/if}}" class="tab__item tab__item--active">
			Data
		</a>
	</li>
	<li>
		<a href="publications{{#if parameters.query.0}}?query={{parameters.query.0}}{{/if}}" class="tab__item">
			Publications
		</a>
	</li>
{{/partial}}

{{#partial "block-results-text"}}
	<div class="col col--md-28 col--lg-38">
		{{> list/partials/list-results-text-number result resultsLabel="data results" showLocation=true}}
	</div>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/keywords}}
	<h4 class="filters__title">Content types to show</h4>
	{{> list/filters/data}}
	{{> list/filters/publish-date }}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true showBreadcrumb=true breadcrumbLabel="Data"}}