{{#partial "block-list-tabs"}}
	<li>
		<a href="datalist" class="tab__item tab__item--active">
			Data
		</a>
	</li>
	<li>
		<a href="publications" class="tab__item">
			Publications
		</a>
	</li>
{{/partial}}

{{#partial "block-filters"}}
	{{> list/filters/publications keywords=true date=true }}
{{/partial}}

{{!-- Inheriting from base list template --}}
{{> list/base/list tabs=true listPage=true listLabel="data" }}