<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Florence</title>
  <link rel="stylesheet" href="/node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
  <link href="/css/c3.css" rel="stylesheet" type="text/css">

  <style>

    html {
      height: auto;
    }

  </style>

</head>
<body>

<div id="/businessindustryandtrade/business/activitysizeandlocation/bulletins/ukbusinessactivitysizeandlocation/2014-10-29/e8d81c8b" class="markdown-chart-container">
    <h4>Figure 2: Percentage of VAT and/or PAYE based enterprises by year, 2009 to 2014</h4>
    <h5></h5>
  </br>
  <div class="markdown-chart">
    <img src="/businessindustryandtrade/business/activitysizeandlocation/bulletins/ukbusinessactivitysizeandlocation/2014-10-29/e8d81c8b/image" alt="">
  </div>
    <h6>Source:Inter Departmental Business Register (IDBR), Office for National Statistics</h6>
  </br>
  
</div>

<script type="text/javascript" src="/node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
<script type="text/javascript" src="/js/third-party/d3.min.js"></script>
<script type="text/javascript" src="/js/third-party/c3.js"></script>
<script type="text/javascript" src="/js/third-party/pym.min.js"></script>
<script type="text/javascript" src="/js/chartRenderer.js"></script>
<script type="text/javascript">

  (function () {
    renderChartForUri('/businessindustryandtrade/business/activitysizeandlocation/bulletins/ukbusinessactivitysizeandlocation/2014-10-29/e8d81c8b');
  })();

</script>
</body>
</html>