{{#if description.releaseDate}}
    <div class="meta-wrap meta-wrap--thin">
        <div class="wrapper">
            <dl class="col-wrap">
                <div class="col padding-left--0 meta__item meta__item--no-border">
                    <dt class="meta__term inline">Last updated:</dt>
                    <dd class="inline">{{df description.releaseDate}}</dd>
                </div>
            </dl>
        </div>
    </div>
{{/if}}