{{#if downloads}}
    <div class="tiles__item tiles__item--nav-type flush-col print--hide">
        <h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.related-downloads}}</h3>
        <div class="tiles__content tiles__content--nav">
            <ul class="list--neutral">
                {{#each downloads}}
                    <li>
                        <a data-ga-event data-ga-event-category="related-download" data-ga-event-label="{{title}}" href="/file?uri={{absolute (concat uri "/" file)}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}