<div class="box__content background--iron-light padding-top-md--2 padding-right-md--1 padding-bottom-md--1 padding-left-md--1 margin-bottom-md--2 js-hover">
	<h3>Looking to download time series data?</h3>
	<p><a href="/timeseriestool">Try our time series explorer tool</a></p>
</div>