<a href="{{link}}">
	<div class="col col--md-34 col--lg-40 height--31 js-hover-click background--mercury">
		<div class="col col--md-17 col--lg-14">
			<div class="height--31 width-md--17 width-lg--20 box__timeseries">
				<img src="{{img-src}}" alt="departmentlogo" class="aside-logo">
			</div>
		</div>
		{{!-- Summary --}}
		<div class="col col--md-17 col--lg-26 height--31 height--31-ellipsis js-hover-click background--mercury">
			<div class="min-height--10 background--gallery padding-top--2 padding-left--1 padding-right--1">
				<h3 class="flush">Did you know?</h3>
			</div>
			<div class="box padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 border-top--iron-sm border-top--iron-md">
				<p>{{department}} also produce statistics relating to {{parameters.q.0}}.</p>
			</div>
		</div>
	</div>
</a>