<div class="search-results__summary">
	{{#if description.summary}}{{{description.summary}}}{{else}}{{{description.metaDescription}}}{{/if}}
    <p>{{#if downloads_content}} Attachments: {{{downloads_content}}}{{/if}}</p>

</div>