<h2 class="search-page__results-text">
	{{#if_any results showFeaturedResult timeSeriesCount}}
	<span class="stand-out-text">
	{{numberOfResults}}</span> results for
	{{else}}
	Sorry, no results were found for
	{{/if_any}}
	<strong>‘{{parameters.q.0}}’</strong>
	{{#if parameters.filter}}
	showing <strong>{{#each parameters.filter}}{{> filter-label this}}{{!--<span class="icon icon-cancel js-enhance--show" role="presentation"></span> --}} {{#unless @last}},{{/unless}}{{/each}}</strong>
	{{/if}}
	.
	{{#if parameters.includeStatics}}
	You have chosen to expand these results to include <strong>all other website content</strong>{{!-- <span class="icon icon-cancel js-enhance--show" role="presentation"></span> --}}
	{{/if}}
</h2>