<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Florence</title>
  <link rel="stylesheet" href="/node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>


  <style>

    * {
      height: auto !important;
      width: auto !important;
    }

    html {
      height: auto;
    }

  </style>

</head>
<body>

{{> partials/table}}

<script type="text/javascript" src="/node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
<script type="text/javascript" src="/js/third-party/pym.min.js"></script>
<script type="text/javascript">

  (function () {
    var pymChild = new pym.Child({});

    function draw() {
      pymChild.sendHeight();
    }

    window.onresize = draw;
    draw();
  })();

</script>
</body>
</html>


