<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Florence</title>
  <link href="/florence/css/third-party/c3.css" rel="stylesheet" type="text/css">
  {{!--<link rel="stylesheet" href="/node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>--}}
</head>
<body>

{{> partials/table}}

<script type="text/javascript" src="/node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
<script type="text/javascript" src="/js/third-party/pym.min.js"></script>
<script type="text/javascript">

  (function () {
    var pymChild = new pym.Child({});

    function draw() {
      pymChild.sendHeight();
    }

    window.onresize = draw;
    draw();
  })();

</script>
</body>
</html>


