<section class="panel wrapper panel--bottom-mar">
	<div class="box box--green box--green--separated--left" >
		<div class="box__inner border box--padded">
			{{#if items}}
			{{> partials/t3/timeseries-list}}
			{{/if}}
			{{#if datasets}}
			{{> partials/t3/dataset-list}}
			{{/if}}
		</div>
		<!-- /box__inner -->
	</div>
	<!-- /box -->
</section>
<!-- /panel wrapper -->