<section class="panel wrapper panel--bottom-mar">
	<div class="box box--teal box--teal--separated--left" >
		<div class="box__inner border box--padded">
			<!-- Latest statistical bulletins -->
			{{#if statsBulletins}}
			{{> partials/t3/stats-bulletins}}
			{{/if}}
			<!-- Related articles-->
			{{#if relatedArticles}}
			{{> partials/t3/related-articles}}
			{{/if}}
		</div>
	</div>
</section>