<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>- Office of National Statistics</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="on" http-equiv="cleartype" />
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/oldie.css" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.css" />
    <![endif]-->
    <script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
  </head>
  <body class="">
    <a class="skiplinks visuallyhidden focusable" href="#main" tabindex="0">
      <span>Skip to main content</span>
    </a>
    <!---
    title: Basic starter
    external: true
    type: template
    group: Examples
    usage: |
    This is a simple starter example which shows how to include the Javascript and CSS, the IE conditional comments and the skiplinks feature.
    -->
    <!-- Pattern Library Header -->
    <header class="global-header">
      <div class="global-header__wrapper">
        <a class="main-logo" href="/">
          <img src="../../node_modules/ONS-Pattern-Library/dist/img/ons-logo.png" alt="Office for National Statistics">
        </a>
        <ul class="nav globaltop-nav">
          <li>
            <a href="#">Release Calendar</a>
          </li>
          <li>
            <a href="#">Methodology</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </header>
    <nav class="ons-nav">
      <ul class="nav nav--controls">
        <li class="nav--controls__menu">
          <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
            <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
            <span class="nav--controls__text">Menu</span>
          </a>
        </li>
        <li class="nav--controls__search">
          <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
            <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
            <span class="nav--controls__text">Search</span>
          </a>
        </li>
      </ul>
      <ul class="nav nav--block nav--primary" id="nav-primary">
        <li class="nav--primary__hide-small-med">
          <a href="/pages/t1">Home</a>
        </li>
        <li class="nav__expandable js-expandable">
          <a href="#">Business, Industry, and Trade</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li>
              <a href="#">Business</a>
            </li>
            <li>
              <a href="#">Changes to business</a>
            </li>
            <li>
              <a href="#">Construction and industry</a>
            </li>
            <li>
              <a href="#">IT and internet industry</a>
            </li>
            <li>
              <a href="#">International trade</a>
            </li>
            <li>
              <a href="#">Manufacturing and production</a>
            </li>
            <li>
              <a href="#">Retail industry</a>
            </li>
            <li>
              <a href="#">Tourism industry</a>
            </li>
          </ul>
        </li>
        <li class="nav__expandable js-expandable">
          <a href="/pages/t3">Economy</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li>
              <a href="#">Economic output and productivity</a>
            </li>
            <li>
              <a href="#">Environmental account</a>
            </li>
            <li>
              <a href="#">Government, public sector, and taxes</a>
            </li>
            <li>
              <a href="#">Gross Domestic Product (GDP)</a>
            </li>
            <li>
              <a href="#">Gross Values Added (GVA)</a>
            </li>
            <li>
              <a href="t3.html">Inflation and price indices</a>
            </li>
            <li>
              <a href="#">Investment and pension trust</a>
            </li>
            <li>
              <a href="#">National accounts</a>
            </li>
            <li>
              <a href="#">Regional accounts</a>
            </li>
          </ul>
        </li>
        <li class="nav__expandable js-expandable">
          <a href="#">Employment and Labour Market</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li>
              <a href="#">People in work</a>
            </li>
            <li>
              <a href="#">People not in work</a>
            </li>
            <li>
              <a href="#">Public sector personnel</a>
            </li>
          </ul>
        </li>
        <li class="nav__expandable js-expandable">
          <a href="#">People, Population, and Community</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li>
              <a href="#">Births, deaths, and marriages</a>
            </li>
            <li>
              <a href="#">Community</a>
            </li>
            <li>
              <a href="#">Education and childcare</a>
            </li>
            <li>
              <a href="#">Crime and justice</a>
            </li>
            <li>
              <a href="#">Household characteristics</a>
            </li>
            <li>
              <a href="#">Well-being</a>
            </li>
            <li>
              <a href="#">Health and social care</a>
            </li>
            <li>
              <a href="#">Elections</a>
            </li>
            <li>
              <a href="#">Personal and household finances</a>
            </li>
            <li>
              <a href="#">Population and migration</a>
            </li>
            <li>
              <a href="#">Cultural identity</a>
            </li>
            <li>
              <a href="#">Housing</a>
            </li>
            <li>
              <a href="#">Leisure and tourism</a>
            </li>
          </ul>
        </li>
        <li class="nav--primary__respondents">
          <a href="#">
            <span class="icon-comment icon--inline" role="presentation"></span>
            Taking part in a survey?
          </a>
        </li>
        <li class="nav--primary__secondary-content">
          <a href="#">Release calendar</a>
        </li>
        <li class="nav--primary__secondary-content">
          <a href="#">Methodology</a>
        </li>
        <li class="nav--primary__secondary-content">
          <a href="#">About</a>
        </li>
      </ul>
      <div class="slate--grey search-wrapper">
        <form class="nav-search nav-search--hidden" id="searchBar">
          <div class="nav-search__container">
            <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
            <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Search for keyword or time series ID">
          </div>
          <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
          <span class="icon-search-1" role="presentation"></span>
          <span class="visuallyhidden">Search</span>
          </button>
        </form>
      </div>
    </nav>
    
    <div class="wrapper panel">
      <article class="box flush">
        <header class="[box__header]">
          <h2>
          Welcome to the Office for National Statistics
          </h2>
        </header>
        <!-- /box__header -->
        <div class="box__content">
          <p>The UK's largest independent producer of official statistics and the recognised national statistical institute of the UK.</p>
          <!--  /list-bullet -->
        </div>
        <!-- /box__content -->
      </article>
    </div>
    <div class="wrapper panel--top-mar-small">
      <header>
        <h2>Statistical highlights</h2>
      </header>
    </div>
    
    <!-- panel -->
    <div class="panel slate flush--top">
      <!-- wrapper -->
      <div class="wrapper nav-panels">
        <!-- grid-wrap -->
        <div class="grid-wrap">
          <!-- grid-col -->
          <div class="grid-col tablet-wide-grid-one-quarter">
            <article class="nav-panel nav-panel--stats sectioned">
              <a href="#">Stat link, apply to whole panel<span class="[navpanel_wrapper_home__link]"></span></a>
              <header class="nav-panel__header nav-panel__roomy">
                <h2 class="flush">CPI: Consumer Prices Index (% change)</h2>
              </header>
              <div class="nav-panel__roomy">
                <ul class="list--neutral">
                  <li class="nav-panel__item">
                    <dl>
                      <dd class="nav-panel__value">
                      <div class="stat stat--small">
                        <div class="stat__figure">
                          <!-- <span class="stat__figure__unit"></span> -->
                          1.2
                          <span class="stat__figure__unit">%</span>
                        </div>
                        <div class="stat__description">
                          September 2014
                        </div>
                      </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="nav-panel__item [homeicon_sparkline]">
                    <div style="height:30px"></div>
                    <div class="box">
                      <div >
                        [Sparkline goes here]
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <footer class="nav-panel__footer">
                <div class="nav-panel__action">
                  <a class="nav-panel__roomy" href="#">View all Economy</a>
                </div>
              </footer>
            </article>
            <!-- grid-col -->
          </div>
          <!-- grid-col -->
          <div class="grid-col tablet-wide-grid-one-quarter">
            <article class="nav-panel nav-panel--stats sectioned">
              <a href="#">Stat link, apply to whole panel<span class="[navpanel_wrapper_home__link]"></span></a>
              <header class="nav-panel__header nav-panel__roomy">
                <h2 class="flush">GDP quarter on quarter growth (CVM)</h2>
              </header>
              <div class="nav-panel__roomy">
                <ul class="list--neutral">
                  <li class="nav-panel__item">
                    <dl>
                      <dd class="nav-panel__value">
                      <div class="stat stat--small">
                        <div class="stat__figure">
                          <!-- <span class="stat__figure__unit"></span> -->
                          0.9
                          <span class="stat__figure__unit">%</span>
                        </div>
                        <div class="stat__description">
                          Q2 2014
                        </div>
                      </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="nav-panel__item [homeicon_sparkline]">
                    <div style="height:30px"></div>
                    <div class="box">
                      <div >
                        [Sparkline goes here]
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <footer class="nav-panel__footer">
                <div class="nav-panel__action">
                  <a class="nav-panel__roomy" href="#">View all Economy</a>
                </div>
              </footer>
            </article>
            <!-- grid-col -->
          </div>
          <!-- grid-col -->
          <div class="grid-col tablet-wide-grid-one-quarter">
            <article class="nav-panel nav-panel--stats sectioned">
              <a href="#">Stat link, apply to whole panel<span class="[navpanel_wrapper_home__link]"></span></a>
              <header class="nav-panel__header nav-panel__roomy">
                <h2 class="flush">Trade in goods and services deficit (or surplus)</h2>
              </header>
              <div class="nav-panel__roomy">
                <ul class="list--neutral">
                  <li class="nav-panel__item">
                    <dl>
                      <dd class="nav-panel__value">
                      <div class="stat stat--small">
                        <div class="stat__figure">
                          <span class="stat__figure__unit">£</span>
                          -6.5
                          <span class="stat__figure__unit">bn</span>
                        </div>
                        <div class="stat__description">
                          September 2014
                        </div>
                      </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="nav-panel__item [homeicon_sparkline]">
                    <div style="height:30px"></div>
                    <div class="box">
                      <div >
                        [Sparkline goes here]
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <footer class="nav-panel__footer">
                <div class="nav-panel__action">
                  <a class="nav-panel__roomy" href="#">View all Business, industry and trade</a>
                </div>
              </footer>
            </article>
            <!-- grid-col -->
          </div>
          <!-- grid-col -->
          <div class="grid-col tablet-wide-grid-one-quarter">
            <article class="nav-panel nav-panel--stats sectioned">
              <a href="#">Stat link, apply to whole panel<span class="[navpanel_wrapper_home__link]"></span></a>
              <header class="nav-panel__header nav-panel__roomy">
                <h2 class="flush">Employment rate (aged 16 to 64)</h2>
              </header>
              <div class="nav-panel__roomy">
                <ul class="list--neutral">
                  <li class="nav-panel__item">
                    <dl>
                      <dd class="nav-panel__value">
                      <div class="stat stat--small">
                        <div class="stat__figure">
                          <!-- <span class="stat__figure__unit"></span> -->
                          73%
                          <span class="stat__figure__unit">%</span>
                        </div>
                        <div class="stat__description">
                          May to July 2014
                        </div>
                      </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="nav-panel__item [homeicon_sparkline]">
                    <div style="height:30px"></div>
                    <div class="box">
                      <div >
                        [Sparkline goes here]
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <footer class="nav-panel__footer">
                <div class="nav-panel__action">
                  <a class="nav-panel__roomy" href="#">Explore Employement and Labour market</a>
                </div>
              </footer>
            </article>
            <!-- grid-col -->
          </div>
          <!-- grid-col -->
          <div class="grid-col tablet-wide-grid-one-quarter">
            <article class="nav-panel nav-panel--stats sectioned">
              <a href="#">Stat link, apply to whole panel<span class="[navpanel_wrapper_home__link]"></span></a>
              <header class="nav-panel__header nav-panel__roomy">
                <h2 class="flush">UK population</h2>
              </header>
              <div class="nav-panel__roomy">
                <ul class="list--neutral">
                  <li class="nav-panel__item">
                    <dl>
                      <dd class="nav-panel__value">
                      <div class="stat stat--small">
                        <div class="stat__figure">
                          <!-- <span class="stat__figure__unit"></span> -->
                          64.1
                          <span class="stat__figure__unit">m</span>
                        </div>
                        <div class="stat__description">
                          Mid-2013
                        </div>
                      </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="nav-panel__item [homeicon_sparkline]">
                    <div style="height:30px"></div>
                    <div class="box">
                      <div >
                        [Sparkline goes here]
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <footer class="nav-panel__footer">
                <div class="nav-panel__action">
                  <a class="nav-panel__roomy" href="#">Explore People, population and community</a>
                </div>
              </footer>
            </article>
            <!-- grid-col -->
          </div>
          <!-- /grid-wrap -->
        </div>
        <!-- /wrapper -->
      </div>
      <!-- /panel-->
    </div>
    
    <!-- section -->
    <section class="panel wrapper flush--bottom ">
      <header class="actionable-header__title">
        <h2 class="actionable-header__title [table-inline]">New this week</h2>
        <a class="hide-med-down [actionable-header--asidelink]" href="#">View new and upcoming releases</a>
      </header>
      <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
          <article class="box--padded-vertical">
            <header class="[box__header]">
              <h3>
              <a href="#">Population Estimates</a>
              </h3>
              <!-- /box__header -->
            </header>
            <div class="box__content">
              <ul class="list--table">
                <li class="">Annual estimates of the size of the UK “usually resident population” are calculated at the mid-year point (30 June).</li>
              </ul>
              <!-- /box__content -->
            </div>
            <!-- /box- -padded-vertical -->
          </article>
          <!-- /grid-col -->
        </div>
        <!-- grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
          <article class="box--padded-vertical">
            <header class="[box__header]">
              <h3>
              <a href="#">Inflation and Price Indices</a>
              </h3>
              <!-- /box__header -->
            </header>
            <div class="box__content">
              <ul class="list--table">
                <li class="">Inflation measures the rate of increase in prices for goods and services using price indices.
                </li>
              </ul>
              <!-- /box__content -->
            </div>
            <!-- /box- -padded-vertical -->
          </article>
          <!-- /grid-col -->
        </div>
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half tablet-grid-clear">
          <article class="box--padded-vertical">
            <header class="[box__header]">
              <h3>
              <a href="#!/releases/drugusealcoholandsmoking">Drug Use, Alcohol and Smoking</a>
              </h3>
              <!-- /box__header -->
            </header>
            <div class="box__content">
              <ul class="list--table">
                <li class="">Statistics on drug use, alcohol and smoking focus on deaths and illnesses related to these areas.
                </li>
              </ul>
              <!-- /box__content -->
            </div>
            <!-- /box- -padded-vertical -->
          </article>
          <!-- /grid-col -->
        </div>
        <div class="grid-col hide-large">
          <a href="#">View new and upcoming releases</a>
        </div>
        <!-- /grid-wrap -->
      </div>
      <!-- /section -->
    </section>
    <!-- wrapper -->
    <div class="wrapper panel flush--top">
      <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-half tablet-grid-full-width">
          <article class="box border [home_callout] [homeicon_census]">
            <div class="box__inner box--padded">
              <div class="grid-wrap">
                <div class="grid-col grid-one-half ">
                </div>
                <div class="grid-col grid-one-half [floater-right]">
                  <div class="media__body">
                    <header class="[box__header] [pad_regional_header]">
                      <h2 class="[callout-header]">
                      <ul class="list--neutral">
                        <li>Who we are.</li>
                        <li>How we live.</li>
                        <li>What we do.</li>
                      </ul>
                      </h2>
                      <!-- /box__header -->
                    </header>
                  </div>
                </div>
                <div class="box__content [list--table__item__body--icon] [div_panel_link]">
                  <a class="" href="http://www.ons.gov.uk/ons/data/area-first/">2011 Census <span class="icon-right-open-big"></span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- /grid-col -->
        </div>
        <div class="grid-col desktop-grid-one-half tablet-grid-full-width">
          <article class="box border [home_callout] [homeicon_datavis]">
            <div class="box__inner box--padded ">
              <div class="grid-wrap">
                <div class="grid-col grid-one-half [floater-right]">
                  <div class="media__body">
                    <header class="[box__header] [pad_regional_header]">
                      <h2 class="[callout-header]">
                      <ul class="list--neutral">
                        <li>Introducing Visual.ONS</li>
                      </ul>
                      </h2>
                      <!-- /box__header -->
                    </header>
                  </div>
                </div>
                <div class="media__body">
                  <div class="box__content [list--table__item__body--icon] [div_panel_link]">
                    <span class="[callout--link_inactive]">Coming soon</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- /grid-wrap-->
      </div>
      <!-- /wrapper-->
    </div>
    <section class="panel wrapper">
      <div class="box box--padded--med box--orange--separated-left solid border">
        <header class="actionable-header__title">
          <h2 class="actionable-header__title [table-inline] ">Looking for local statistics?</h2>
        </header>
        <div class="grid-wrap">
          <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded--med">
              <header class="[box__header]">
                <h3>
                <a href="#">Local data explained </a>
                </h3>
                <!-- /box__header -->
              </header>
              <div class="box__content">
                <ul class="list--table">
                  <li class="">A handy guide to let you know where to find local statistics.</li>
                </ul>
                <!-- /box__content -->
              </div>
              <!-- /article box- -padded- -med" -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded--med">
              <header class="[box__header]">
                <h3>
                <a href="https://www.nomisweb.co.uk/">Official Labour Market Statistics (nomis) </a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <ul class="list--table">
                  <li>Access to the most detailed and up-to-date UK labour market statistics from official sources. </li>
                </ul>
                <!-- /box__content -->
              </div>
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half tablet-grid-clear">
            <article class="box--padded--med">
              <header class="[box__header]">
                <h3>
                <a href="http://www.neighbourhood.statistics.gov.uk/dissemination/">Neighbourhood Statistics (NeSS)</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <ul class="list--table">
                  <li>Datasets that describe the characteristics of a neighbourhood, with a particular focus on deprivation. </li>
                </ul>
                <!-- /box__content -->
              </div>
            </article>
            <!-- /box -->
          </div>
          <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded--med">
              <header class="[box__header]">
                <h3>
                <a href=" http://www.ons.gov.uk/ons/data/area-first/">2011 Census Data Explorer (Beta)</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <ul class="list--table">
                  <li>Discover relevant census datasets for your needs and view or download them. </li>
                </ul>
                <!-- /box__content -->
              </div>
            </article>
            <!-- /grid-col -->
          </div>
          <!-- /grid-wrap -->
        </div>
        <!-- /panel wrapper -->
      </section>

      <section class="panel wrapper box box--padded--med ">
          <header class="actionable-header__title">
              <h2 class="actionable-header__title [table-inline]">Other official statistics</h2>
          </header>
          <div class="grid-wrap">
              <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                  <article class="box--padded-vertical">
                      <header class="[box__header]">
                          <h3 class="beta">
                      <a href="https://www.gov.uk/government/statistics">GOV.UK</a>
                    </h3>
                          <!-- /box__header -->
                      </header>

                      <div class="box__content">
                          <ul class="list--table">
                              <li class="">Official statistics produced by other government departments. </li>
                          </ul>
                      </div>
                  </article>
                  <!-- /grid-col -->
              </div>

              <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                  <article class="box--padded-vertical">
                      <header class="[box__header]">
                          <h3 class="beta">
                      <a href="https://statswales.wales.gov.uk/Catalogue">StatsWales</a>
                    </h3>
                          <!-- /box__header -->
                      </header>

                      <div class="box__content">
                          <ul class="list--table">
                              <li class="">View, manipulate, create and download tables from Welsh data. </li>
                          </ul>
                      </div>
                  </article>
                  <!-- /grid-col -->
              </div>


              <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                  <article class="box--padded-vertical">
                      <header class="[box__header]">
                          <h3 class="beta">
                      <a href="http://www.scotland.gov.uk/Topics/Statistics">ScotStat</a>
                    </h3>
                          <!-- /box__header -->
                      </header>

                      <div class="box__content">
                          <ul class="list--table">
                              <li class="">Scottish Government Statistics provides an accurate and up-to-date picture of the economy and society in Scotland. </li>
                          </ul>
                      </div>
                  </article>
                  <!-- /grid-col -->
              </div>


              <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                  <article class="box--padded-vertical">
                      <header class="[box__header]">
                          <h3 class="beta">
                    <a href="http://www.nisra.gov.uk/">NISRA</a>
                  </h3>
                          <!-- /box__header -->
                      </header>

                      <div class="box__content">
                          <ul class="list--table">
                              <li class="">Principal source of official statistics and social research on Northern Ireland. </li>
                          </ul>
                      </div>
                  </article>
                  <!-- /grid-col -->
              </div>

          </div>
          <!-- /grid-wrap -->
      </section>

      <footer class="global-footer" sticky-footer=".wrapper">
        <div class="slate panel--pad-large panel--separated" >
          <div class="wrapper">
            <nav class="grid-wrap">
              <div class="grid-col tablet-grid-one-third">
                <h2 class="delta headline-separated">Legal</h2>
                <ul class="list--neutral list--grid list--spaced">
                  <li>
                    <a href="#!/accessibility">Accessibility</a>
                  </li>
                  <li>
                    <a href="#!/privacy">Cookies and privacy</a>
                  </li>
                  <li>
                    <a href="#!/copyright">Copyright</a>
                  </li>
                </ul>
              </div>

              <div class="grid-col tablet-grid-one-third">
                <h2 class="delta headline-separated">About us</h2>
                <ul class="list--neutral list--grid list--spaced">
                  <li>
                    <a href="#!/aboutus">Who we are</a>
                  </li>
                  <li>
                    <a href="#!/aboutus">Careers</a>
                  </li>
                  <li>
                    <a href="#!/aboutus">Products and services</a>
                  </li>
                  <li>
                    <a href="#!/contactus">Contact us</a>
                  </li>
                  <li>
                    <a href="#!/contactus">Our offices</a>
                  </li>
                </ul>
              </div>

              <div class="grid-col tablet-grid-one-third">
                <h2 class="delta headline-separated">Connect with us</h2>
                <ul class="list--neutral list--grid list--spaced">
                  <li>
                    <a href="https://twitter.com/ONS">Twitter</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/ONS">Facebook</a>
                  </li>
      <!--             <li>
                    <a href="https://uk.linkedin.com/company/office-for-national-statistics">LinkedIn</a>
                  </li> -->

                </ul>
              </div>
            </nav>
          </div>
          <!-- /wrapper -->
        </div>
        <!-- /slate -->
        <div class="slate--dark">
          <div class="wrapper">
            <div class="footer__license">
              <img class="footer__license__img" alt="OGLlogo" width="60" src="../../node_modules/ONS-Pattern-Library/dist/img/ogl.png"/>
              <p class="footer__license__body">
                All content is available under the Open Government Licence v2.0, except where otherwise stated
              </p>
            </div>
          </div>
        </div>
      </footer>

      <script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
      <script type="text/javascript" src="../../ui/js/lib/highcharts.js"></script>
      <script type="text/javascript" src="../../ui/js/lib/jquery.tooltipster.min.js"></script>
    </body>
  </html>