<main id="main" role="main" tabindex="-1">
	<div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col one">
					{{> partials/breadcrumb}}
					<h1 class="page-intro__title">{{description.title}}</h1>
					<p class="page-intro__content col col--md-47 col--lg-48">
						{{description.summary}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<nav class="tiles">
			<h2>In this section</h2>
			<ul class="col-wrap col-span--lg-thirds tiles__list">
				{{!-- loop for children nodes --}}
				{{#each sections}}
					{{#resolve this.uri}}
					    {{#if_any items datasets statsBulletins relatedArticles}}
					    	{{> partials/t2/t2-section}}
					    {{else}}
					    	{{#if_eq type 'taxonomy_landing_page'}}
					    	    {{!-- if child landing page has sections to show --}}
					    		{{#if sections}}
					    			{{> partials/t2/t2-section}}
					    		{{/if}}
					    	{{/if_eq}}
					    {{/if_any}}
					{{/resolve}}
				{{/each}}
			</ul>
		</nav>
		<div class="col-wrap">
			<div class="col">
				{{> partials/local-box}}
			</div>
		</div>
		{{!-- /grid-col --}}
	</div>
	{{!-- /wrapper --}}
</main>
