<main id="main" role="main" tabindex="-1">
	<div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col one">
					{{> partials/breadcrumb}}
					<h1 class="page-intro__title">{{description.title}}</h1>
					<p class="page-intro__content col col--md-47 col--lg-48">
						{{description.summary}}
					</p>
				</div>
			</div>
		</div>
		{{#if highlightedLinks}}
		<div class="nav-secondary-wrap">
			<div class="wrapper">
				<div class="col-wrap">
					<nav class="nav-secondary col col--lg-half">
						<h2 class="nav-secondary__title">On this page:</h2>
						<ul class="nav-secondary__list">
							<li class="nav-secondary__item"><a href="#highlighted">Highlighted content in this section</a></li>
							<li class="nav-secondary__item"><a href="#topics">Topics in this section</a></li>
						</ul>
					</nav>
				</div> {{!-- /col-wrap --}}
			</div> {{!-- /wrapper --}}
		</div> {{!-- /nav-secondary-wrap --}}
		{{/if}}
	</div>

	{{#if highlightedLinks}}
	<div class="highlighted-wrap slate--alabaster">
		<div class="wrapper">
			<div class="tiles">
				<h2 id="highlighted">Highlighted content in this section</h2>
				<ul class="col-wrap tiles__list margin-bottom--double">
					{{!-- loop for children nodes --}}
					{{#each highlightedLinks}}
						{{#resolve this.uri}}
						    {{#if_any items datasets statsBulletins relatedArticles sections}}
						    	{{> partials/t2/t2-highlighted-content}}
						    {{/if_any}}
						{{/resolve}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}



	<div class="page-content">
		<div class="wrapper">
			<div class="tiles">
				<h2 id="topics">In this section</h2>
				<ul class="col-wrap col-span--lg-thirds tiles__list">
					{{!-- loop for children nodes --}}
					{{#each sections}}
						{{#resolve this.uri}}
						    {{#if_any items datasets statsBulletins relatedArticles}}
						    	{{> partials/t2/t2-section}}
						    {{else}}
						    	{{#if_eq type 'taxonomy_landing_page'}}
						    	    {{!-- if child landing page has sections to show --}}
						    		{{#if sections}}
						    			{{> partials/t2/t2-section}}
						    		{{/if}}
						    	{{/if_eq}}
						    {{/if_any}}
						{{/resolve}}
					{{/each}}
				</ul>
			</div>
			<div class="col-wrap margin-bottom">
				<div class="col col--md-one-third col--lg-one-third">
					{{> partials/local-box}}
				</div>
			</div>
			{{!-- /grid-col --}}
		</div>
		{{!-- /wrapper --}}
	</div>
</main>
