{{#partial "block-next-release"}}
	{{!-- Next release --}}
	{{#if description.nextRelease}}
	<p class="col col--md-12 col--lg-15 meta__item">
		<span>{{labels.release-next}}: </span><br/>{{description.nextRelease}}
	</p>
	{{/if}}
{{/partial}}

{{#partial "publication-sidebar"}}
	{{!-- Related data --}}
    {{>partials/related/new-data relatedUri=(concat uri "/relateddata") relatedTitle="self"}}
    {{!-- Contact details --}}
    {{>partials/contact}}
	{{!-- Related publications --}}
	{{>partials/related/documents}}
	{{!-- Related articles --}}
	{{>partials/related/articles}}
    {{!-- Related links --}}
    {{>partials/related/related-links}}
{{/partial}}

{{!-- Inheritence --}}

{{#if_eq type "article"}}
    {{> content/base/publication typeLabel=labels.article}}
{{else}}
    {{> content/base/publication-download typeLabel=labels.article}}
{{/if_eq}}