{{#partial "block-next-release"}}
	{{!-- Next release --}}
	{{#if description.nextRelease}}
	<p class="col col--md-12 col--lg-15 meta__item">
		<span>{{labels.release-next}}: </span><br/>{{description.nextRelease}}
	</p>
	{{/if}}
{{/partial}}

{{#partial "publication-sidebar"}}
	{{!-- Related data --}}
	{{>partials/related/data}}
	{{!-- Related publications --}}
	{{>partials/related/documents}}
	{{!-- Related articles --}}
	{{>partials/related/articles}}
	{{!-- Contact details --}}
	{{>partials/contact}}
{{/partial}}

{{> content/base/publication}}