{{#partial "publication-sidebar"}}
    {{!-- Related data --}}
    {{#last breadcrumb}}
        {{#resolve uri}}
            {{#if datasets}}
                <a class="btn btn--primary btn--full-width margin-bottom-sm--2 margin-bottom-md--2 border-top--iron-md" href="{{datasets.0.uri}}">{{labels.view-all-data-in-this-compendium}}</a>
            {{/if}}
        {{/resolve}}
    {{/last}}

    {{!-- Related documents --}}
    {{> partials/related/documents }}
    {{!-- Related links --}}
    {{>partials/related/related-links}}
    {{!-- Contact details --}}
    {{> partials/contact }}

{{/partial}}


{{!-- Inheriting from statistics template --}}
{{> content/base/publication typeLabel=labels.compendium}}