<!-- /box 'refine results -->
<article class="box box--purple box--purple--separated--left">
	<div class="box__inner border box--padded">
		<header class="box__header">
			<h3 class="gamma">Need an earlier release?</h3>
		</header>
		<div class="box__content">
			<p>
				We moved them to <a href="#">The National Archives</a> website, to keep this website as responsive as possible.
			</p>
			<p>
				<strong>Please note: </strong>all historical data is still on this website.
			</p>
		</div>
	</div>
	<!-- /box__inner -->
</article>
<!-- /box -->