<footer class="global-footer">
	<h2 class="visuallyhidden">Footer links</h2>
	<div class="slate--light panel--pad-large panel--separated print-hidden">
		<div class="wrapper">
			<nav class="grid-wrap">
				<div class="grid-col tablet-grid-one-third">
					<h3 class="delta">Help</h3>
					<ul class="list--neutral list--grid list--spaced">
						<li>
							<a href="/about/accessibility">Accessibility</a>
						</li>
						<li>
							<a href="/about/cookiesandprivacy">Cookies and privacy</a>
						</li>
						<li>
							<a href="/about/termsandconditions">Terms and conditions</a>
						</li>
					</ul>
				</div>
				<div class="grid-col tablet-grid-one-third">
					<h3 class="delta">About us</h3>
					<ul class="list--neutral list--grid list--spaced">
						<li>
							<a href="/about/whatonsdo">What we do</a>
						</li>
						<li>
							<a href="/about/careersatons">Careers</a>
						</li>
						<li>
							<a href="/about/contactus">Contact us</a>
						</li>
						<li>
							<a href="/about/media">Media enquiries</a>
						</li>
						<li>
							<a href="/about/freedomofinformationact">Freedom of information</a>
						</li>
					</ul>
				</div>
				<div class="grid-col tablet-grid-one-third">
					<h3 class="delta">Connect with us</h3>
					<ul class="list--neutral list--grid list--spaced">
						<li>
							<a href="https://twitter.com/ONS">Twitter</a>
						</li>
						<li>
							<a href="https://www.facebook.com/ONS">Facebook</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/office-for-national-statistics">Linkedin</a>
						</li>
						<li>
							<a href="https://public.govdelivery.com/accounts/UKONS/subscribers/new">Email alerts</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- /wrapper -->
	</div>
	<!-- /slate -->
	<div class="slate--mid-grey">
		<div class="wrapper">
			<div class="footer__license">
				<img class="footer__license__img" alt="OGL" width="60" src="/node_modules/ONS-Pattern-Library/ui/img/ogl.png">
				<p class="footer__license__body">
					All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except where otherwise stated
				</p>
			</div>
		</div>
	</div>
</footer>
<a id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()" class="mini print-hidden">Send Feedback</a>

<script type="text/javascript" src="/node_modules/ONS-Pattern-Library/dist/js/footer.min.js"></script>
<script type="text/javascript" src="/ui/js/lib/jquery.tooltipster.min.js"></script>
<!--<script type="text/javascript" src="/ui/js/lib/highcharts.js"></script>-->
<script type="text/javascript" src="/templates/highcharts/linechartconfig.js"></script>
<script type="text/javascript" src="/js/linechart.js"></script>
<script type="text/javascript" src="/templates/highcharts/sarklineconfig.js"></script>
<script type="text/javascript" src="/js/js-enhance.js"></script>
{{!-- <script type="text/javascript" src="/js/third-party/pym.min.js"></script> --}}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-56892037-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
