<div class=" js-hover-click height--31 background--grey4 print--hide">
    <div class="box__image padding-top--16 padding-right--1 padding-left--1">
        <h3 class="flush"><a href="/help/localstatistics">{{labels.looking-for-local-statistics}}<span
            class="image-holder height--14"><img src="/img/t1-local.png" alt="" class="no-border"></span></a></h3>
        <p class="box__content flush">{{labels.a-handy-guide-to-let-you-know-where-to-find-local-statistics}}.</p>
    </div>
</div>