<!-- <article class="box box--orange box--orange--separated-left"> -->
	<div class="tiles__item tiles__item--nav-type flush-col clickable-wrap print--hide">
		<h3 class="tiles__title-h3 tiles__title-h3--nav">{{labels.local-stats-header}}</h3>
		<div class="tiles__content tiles__content--nav">
			<p><a href="/about/localstatistics">{{labels.local-stats-text}}</a></p>
		</div>
	</div>
<!-- </article> -->
