<article class="box box--orange box--orange--separated-left">
	<div class="box__inner border box--padded solid">
		<h3>{{labels.local-stats-header}}</h3>
		<p>
			<a href="/about/localstatistics">{{labels.local-stats-text}}</a>
		</p>
	</div>
</article>
