<div class="clickable-wrap">
    <div class="tiles__item tiles__item--image-type-fixed-31-rows flush clickable-wrap print--hide">
        <h3 class="tiles__title tiles__title-h2"><a href="/help/localstatistics">{{labels.local-stats-header}}<span class="image-holder"><img src="/img/t1-local.png" alt="" class="no-border"></span></a></h3>
        <div class="tiles__content">
            <p class="flush">{{labels.local-stats-text}}</p>
        </div>
    </div>
</div>