{{!-- Print and download --}}

{{#if_eq type "compendium_landing_page"}}

    <p class="margin-top-md--2 print--hide">
        <span class="icon icon-print--dark-small"></span>
        <a href="" id="jsEnhancePrintCompendium" class="nojs-hidden js-enhance--show">
            Print all chapters in this compendium
        </a>
    </p>

{{else}}

    <p class="margin-bottom-md--0 print--hide">
        <span class="icon icon-print--dark-small"></span>
        <a href="" id="jsEnhancePrint" class="link-complex nojs-hidden js-enhance--show">
            Print this {{#if_eq type "compendium_chapter"}}chapter{{else}}{{> type-label type_code=type}}{{/if_eq}}
        </a>
    </p>

    <p class="margin-top-md--0 print--hide js-enhance--show">
        <span class="icon icon-download--dark-small"></span>
        <a href="{{uri}}/pdf" class="link-complex">
            {{labels.dl-pdf}}
        </a>
    </p>

{{/if_eq}}