<!--Not having line breaks before and after the div markups breaks tables displaying on the page-->

<div class="markdown-table-container panel--mar">
    <h4>{{title}}</h4>

    <div class="markdown-table-wrap">
        {{{html}}}
    </div>

</div>
