<div class="markdown-warning-box--container margin-bottom-sm--3 margin-bottom-md--4">
    <span aria-label="Warning text" class="markdown-warning-box--icon">!</span>
    <div class="markdown-warning-box--text padding-left--4">
        {{md content}}
    </div>
</div>
