<div class="page-header slate">
  <div class="wrapper">
    <p class="page-header--error-desc"><strong>We're Sorry</strong></p>
    <h1 class="page-header__title flush--half--bottom">401 - Unauthorised</h1>
  </div>
  <!-- /nav-panel -->
</div>
<div class="wrapper panel--mar">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">
      <article>
        <div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">
          <header class="box__header">
            <h2 class="gamma">Restricted</h2>
          </header>
          <!-- /box__header -->
          <div class="grid-wrap">
            <div class="grid-col desktop-full-width">
              <p> The page you are requesting has restricted access, please <a href="/florence/index.html" title="Florence" target="_self">log in</a>.</p>
          </div>
        </div>
      </article>
    </div>
    <!-- /article__content -->
  </div>
  <!-- /grid-col -->
</div>
