{{#partial "block-main"}}
<div class="page-header slate">
  <div class="wrapper">
    <h1 class="page-header__title flush--half--bottom">404 - The webpage you are requesting does not exist on the site</h1>
  </div>
  <!-- /nav-panel -->
</div>
<div class="wrapper panel--mar">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">
      <article>
        <div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">
			{{!-- <header class="box__header">
			   <h2 class="gamma">Well this is so embarrassing</h2>
			 </header> --}}
          <!-- /box__header -->
          <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
              <p> The page may have been moved, updated or deleted or you may have typed the web address incorrectly, please check the url and spelling. Alternatively, please try the search, or return to the <a href="/" title="Our homepage" target="_self">homepage</a> and use the sitemap.
            </p>
            <p>If you still encounter problems please <a href="mailto:web.comments@ons.gov.uk" title="Contact Us">contact us</a>. We apologise for any inconvenience this may have caused.</p>
          </div>
          </div>
        </div>
      </article>
    </div>
    <!-- /article__content -->
  </div>
  <!-- /grid-col -->
</div>
{{/partial}}

{{!-- Inheriting from base template --}}
{{> base/base}}
