<h4 class="filters__title margin-top">Previous releases</h4>
<div class="filters__field">
	<input type="checkbox" name="allReleases" value="1" {{#if parameters.allReleases}}checked{{/if}}>
	<label for="checkbox">
		Show all releases over time (only showing latest one of each by default)
	</label>
</div>
