<h4 class="filters__title">{{labels.search-refine-types}}</h4>
<h5 class="filters__sub-title">Publications</h5>
{{> list/filters/publications}}
<h5 class="filters__sub-title">Data</h5>
{{> list/filters/data}}
<h5 class="filters__sub-title">Other</h5>

<ul class="list--neutral flush-top">
	<li class="filters__item">
		<div class="filters__field">
			<input type="checkbox" name="filter" value="methodology" id="checkbox-methodology" {{#contains parameters.filter 'methodology'}}checked{{/contains}} >
			<label for="checkbox-methodology">
				{{labels.methodology}}
			</label>
		</div>
		<div class="filters__field">
			<input type="checkbox" name="filter" value="corporate_information" id="checkbox-corporate" {{#contains parameters.filter 'corporate_information'}}checked{{/contains}} >
			<label for="checkbox-corporate">
				{{labels.corporate-information}}</br>
				({{labels.search-expand-types}})
			</label>
		</div>
	</li>
</ul>