<div class="panel panel--bottom-pad panel--separated--bottom flush">
	<span class="flush float-left">Previous releases</span>
</div>
<div class="box__content">
	<input type="checkbox" name="all-releases" value="1" {{#if parameters.all-releases 1}}checked{{/if}}>
	<label for="checkbox">
		Show all releases over time (only showing latest one of each by default)
	</label>
	
</div>