<h4 class="filters__title">{{labels.content-types-to-show}}</h4>
<fieldset class="filters__fieldset">
    <legend class="filters__sub-title">{{labels.publications}}</legend>
    {{> list/filters/publications}}
</fieldset>
<fieldset class="filters__fieldset">
    <legend class="filters__sub-title">{{labels.data}}</legend>
    {{> list/filters/data}}
</fieldset>
<fieldset class="filters__fieldset">
    <legend class="filters__sub-title">{{labels.other}}</legend>
    <div class="js-checkbox-container">
        <ul class="list--neutral flush-top">
            {{>list/partials/filter-item id="methodology" value="methodology" label=labels.methodology docCount=(add docCounts.static_qmi docCounts.static_methodology)}}
            {{>list/partials/filter-item id="corporate" value="corporate_information" label=labels.corporate-information  explanation=labels.search-expand-types docCount=(add docCounts.static_landing_page docCounts.static_foi docCounts.static_page)}}
        </ul>
    </div>
</fieldset>