<div class="js-checkbox-container">
	<ul class="list--neutral flush-top">
		{{>list/partials/filter-item id="timeseries" value="single_time_series" label="Time series" docCount=counts.docCounts.timeseries}}
		{{>list/partials/filter-item id="dataset" value="large_dataset" label="Datasets" docCount=(add counts.docCounts.dataset_landing_page counts.docCounts.reference_tables)}}
		{{>list/partials/filter-item id="adhoc" value="adhocs" label="User requested data" docCount=counts.docCounts.static_adhoc}}
	</ul>
</div>
