<div class="js-checkbox-container">
	<ul class="list--neutral margin-top--0 margin-bottom--0">
		{{>list/partials/filter-item id="timeseries" value="time_series" label=labels.time-series docCount=docCounts.timeseries}}
		{{>list/partials/filter-item id="dataset" value="datasets" label=labels.datasets docCount=(add docCounts.dataset_landing_page docCounts.reference_tables)}}
		{{>list/partials/filter-item id="adhoc" value="user_requested_data" label=labels.user-requested-data docCount=docCounts.static_adhoc}}
	</ul>
</div>
