<div class="panel panel--bottom-pad panel--separated--bottom flush">
	<span class="flush float-left">Contains</span>
</div>

<div class="box__content">
	<label class="visuallyhidden" for="input-keywords">Keywords</label>
	<input type="search" autocomplete="off" id="input-keywords" name="q" value="{{parameters.q.0}}" placeholder="Keywords">
</div>