<label class="filters__title margin-top--0" for="input-keywords">Contains</label>
<div class="filters__field">
    <input type="search" autocomplete="off" id="input-keywords" name="query" value="{{parameters.query.0}}" placeholder="Keywords" class="input js-auto-submit__input">
</div>
