<h4 class="filters__title">Content types to show</h4>
<div class="js-checkbox-container">
	<ul class="list--neutral flush-top">
		{{>list/partials/filter-item id="qmi" value="qmi" label="Quality and Methodology Information (QMI)" docCount=docCounts.static_qmi}}
		{{>list/partials/filter-item id="methodology_article" value="methodology_article" label="Article" docCount=(add docCounts.static_methodology docCounts.static_methodology_download )}}
	</ul>
</div>