<div class="js-checkbox-container">
	<ul class="list--neutral margin-top--0 margin-bottom--0">
		{{>list/partials/filter-item id="bulletin" value="bulletin" label=labels.statistical-bulletin docCount=docCounts.bulletin}}
		{{>list/partials/filter-item id="article" value="article" label=labels.article docCount=(add docCounts.article docCounts.article_download)}}
		{{>list/partials/filter-item id="compendia" value="compendia" label=labels.compendium docCount=docCounts.compendium_landing_page}}
	</ul>
</div>