{{#if keywords}}
	{{> list/filters/keywords}}
{{/if}}
<h4 class="filters__title">Data format</h4>
<ul class="list--neutral">
	<li class="filters__item">
		<div class="filters__field">
			<input id="checkbox-statsbulletin" type="checkbox" name="filter" value="bulletin" {{#contains parameters.filter 'bulletin'}}checked{{/contains}} >
			<label for="checkbox-statsbulletin">
				Statistical bulletin
			</label>
		</div>
	</li>
	<li class="filters__item">
		<div class="filters__field">
			<input id="checkbox-article" type="checkbox" name="filter" value="article" {{#contains parameters.filter 'article'}}checked{{/contains}}>
			<label for="checkbox-article">
				Article
			</label>
		</div>
	</li>
	<li class="filters__item">
		<div class="filters__field">
			<input id="checkbox-compendia" type="checkbox" name="filter" value="compendia" {{#contains parameters.filter 'compendia'}}checked{{/contains}}>
			<label for="checkbox-compendia">
				Compendia
			</label>
		</div>
	</li>
</ul>
{{#if date}}
	{{> list/filters/publish-date }}
{{/if}}
