<div class="js-checkbox-container">
	<ul class="list--neutral flush-top">
		{{>list/partials/filter-item id="bulletin" value="bulletin" label=labels.bulletin docCount=docCounts.bulletin}}
		{{>list/partials/filter-item id="article" value="article" label=labels.article docCount=(add docCounts.article docCounts.article_download)}}
		{{>list/partials/filter-item id="compendia" value="compendia" label="Compendium" docCount=docCounts.compendium_landing_page}}
	</ul>
</div>