<div class="panel panel--bottom-pad panel--separated--bottom flush">
	<span class="flush float-left">Release date</span>
</div>
<div class="box__content">
	<ul class="list--neutral">
		<li>
			<label for="input-start-date">Published after</label>
			<input type="date" autocomplete="off" id="input-start-date" name="startDate" value="{{parameters.keywords.startDate}}" placeholder="e.g. 01/01/2015" validate>
		</li>
		<li>
			<label for="input-end-date">Published before</label>
			<input type="date" autocomplete="off" id="input-end-date" name="endDate" value="{{parameters.keywords.endDate}}" placeholder="e.g. 01/02/2015" validate>
		</li>
	</ul>
</div>