{{#if result.paginator}}
    {{!-- Apply values from any parameters that are already applied to results --}}
    {{#each parameters}}
        {{#if_all this.0 (ne @key "size") (ne @key "q")}}
            <input type="hidden" name="{{@key}}" value="{{this.0}}">
        {{/if_all}}
    {{/each}}

    {{!-- Add auto-submit class to 'q' input so that it is included in serialised form on JS --}}
    {{#if parameters.q.0}}
        <input type="hidden" name="q" value="{{parameters.q.0}}" class="js-auto-submit__input">
    {{/if}}

    <div class="baseline">
        <label for="page-size">Results per page:</label>
        <select name="size" id="page-size"
            class="input select font-size--14 width-auto js-auto-submit__input">
            <option value="10" {{#if_eq parameters.size.0 "10"}}selected{{/if_eq}}>10</option>
            <option value="25" {{#if_eq parameters.size.0 "25"}}selected{{/if_eq}}>25</option>
            <option value="50" {{#if_eq parameters.size.0 "50"}}selected{{/if_eq}}>50</option>
        </select>
        <button class="btn btn--primary btn--thin btn--small hide--md" type="submit">Submit</button>
    </div>
{{/if}}