<label for="select" class="inline description">Sort by
	<select class="input inline width-auto" id="select" name="sortBy">
		<option value="" {{#if_eq parameters.sortBy.0 ""}}selected{{/if_eq}}>Relevance</option>
		<option value="release_date" {{#if_eq parameters.sortBy.0 "release_date"}}selected{{/if_eq}} >Release date</option>
		<option value="title" {{#if_eq parameters.sortBy.0 "title"}}selected{{/if_eq}}>Title</option>
	</select>
	<button type="submit" class="btn btn--primary btn--small panel--mar-small">Sort</button>
</label>