<label for="select" class="sort__label">Sort by
	<select class="sort__select" id="select" name="sortBy">
		<option class="sort__option" value="" {{#if_eq parameters.sortBy.0 ""}}selected{{/if_eq}}>Relevance</option>
		<option class="sort__option" value="releaseDate" {{#if_eq parameters.sortBy.0 "releaseDate"}}selected{{/if_eq}} >Release date</option>
		<option class="sort__option" value="title_raw" {{#if_eq parameters.sortBy.0 "title_raw"}}selected{{/if_eq}}>Title</option>
	</select>
	<button type="submit" class="sort__button btn btn--thin">Sort</button>
</label>