<div class="sort-results">
	<form id="form-sort" class="js-auto-submit__form">
		<input class="visuallyhidden" type="text" name="q" value="{{parameters.q.0}}">

		<div class="js-mobile-filters__sort">
			<label for="select" class="sort__label">Sort by
				<select class="input select select--thin width-auto js-auto-submit__input" id="select" name="sortBy">
					<option class="sort__option" value="relevance" {{#if_eq result.sortBy "relevance"}}selected{{/if_eq}}>Relevance
					</option>
					<option class="sort__option" value="release_date"
							{{#if_eq result.sortBy "release_date"}}selected{{/if_eq}} >Release date
					</option>
					<option class="sort__option" value="title" {{#if_eq result.sortBy "title"}}selected{{/if_eq}}>
						Title
					</option>
				</select>
				<button type="submit" class="btn btn--primary btn--thin btn--small js-enhance--hide">Sort</button>
			</label>
		</div>
	</form>
</div>