{{!-- THIS IS A TEMPORARY HARDCODED TEMPLATE FOR TOPICS ON TIME SERIES TOOL --}}

<div class="margin-top--2">
    <label class="filters__title" for="select-topic">Topics</label>
    <select class="input inline js-auto-submit__input" id="select-topic" name="topic">
        <option value="">Select topic</option>
        <option value="/economy/nationalaccounts/balanceofpayments"
                {{#if_eq parameters.topic.0 "/economy/nationalaccounts/balanceofpayments"}}selected{{/if_eq}}>
            Balance of payments
        </option>
        <option value="/employmentandlabourmarket/peopleinwork/earningsandworkinghours"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peopleinwork/earningsandworkinghours"}}selected{{/if_eq}}>
            Earnings and working hours
        </option>
        <option value="/employmentandlabourmarket/peoplenotinwork/economicinactivity"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peoplenotinwork/economicinactivity" }}selected{{/if_eq}}>
            Economic inactivity
        </option>
        <option value="/employmentandlabourmarket/peopleinwork/employmentandemployeetypes"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peopleinwork/employmentandemployeetypes"}}selected{{/if_eq}}>
            Employment and employee types
        </option>
        <option value="/economy/grossdomesticproductgdp"
                {{#if_eq parameters.topic.0 "/economy/grossdomesticproductgdp" }}selected{{/if_eq}}>
            Gross domestic product (GDP)
        </option>
        <option value="/economy/grossvalueaddedgva"
                {{#if_eq parameters.topic.0 "/economy/grossvalueaddedgva"}}selected{{/if_eq}}>
            Gross value added (GVA)
        </option>
        <option value="/economy/inflationandpriceindices"
                {{#if_eq parameters.topic.0 "/economy/inflationandpriceindices" }}selected{{/if_eq}}>
            Inflation and price indices
        </option>
        <option value="/businessindustryandtrade/internationaltrade"
                {{#if_eq parameters.topic.0 "/businessindustryandtrade/internationaltrade"}}selected{{/if_eq}}>
            International trade
        </option>
        <option value="/economy/investmentspensionsandtrusts"
                {{#if_eq parameters.topic.0 "/economy/investmentspensionsandtrusts"}}selected{{/if_eq}}>
            Investments, pensions and trusts
        </option>
        <option value="/employmentandlabourmarket/peopleinwork/labourproductivity"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peopleinwork/labourproductivity"}}selected{{/if_eq}}>
            Labour productivity
        </option>
        <option value="/peoplepopulationandcommunity/leisureandtourism"
                {{#if_eq parameters.topic.0 "/peoplepopulationandcommunity/leisureandtourism"}}selected{{/if_eq}}>
            Leisure and tourism
        </option>
        <option value="/businessindustryandtrade/manufacturingandproductionindustry"
                {{#if_eq parameters.topic.0 "/businessindustryandtrade/manufacturingandproductionindustry"}}selected{{/if_eq}}>
            Manufacturing and production industry
        </option>
        <option value="/businessindustryandtrade/changestobusiness/mergersandacquisitions"
                {{#if_eq parameters.topic.0 "/businessindustryandtrade/changestobusiness/mergersandacquisitions"}}selected{{/if_eq}}>
            Mergers and acquisitions
        </option>
        <option value="/employmentandlabourmarket/peoplenotinwork/outofworkbenefits"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peoplenotinwork/outofworkbenefits"}}selected{{/if_eq}}>
            Out of work benefits
        </option>
        <option value="/economy/economicoutputandproductivity/output"
                {{#if_eq parameters.topic.0 "/economy/economicoutputandproductivity/output"}}selected{{/if_eq}}>
            Output
        </option>
        <option value="/economy/governmentpublicsectorandtaxes/publicsectorfinance"
                {{#if_eq parameters.topic.0 "/economy/governmentpublicsectorandtaxes/publicsectorfinance"}}selected{{/if_eq}}>
            Public sector finance
        </option>
        <option value="/employmentandlabourmarket/peopleinwork/publicsectorpersonnel"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peopleinwork/publicsectorpersonnel"}}selected{{/if_eq}}>
            Public sector personnel
        </option>
        <option value="/economy/governmentpublicsectorandtaxes/publicspending"
                {{#if_eq parameters.topic.0 "/economy/governmentpublicsectorandtaxes/publicspending"}}selected{{/if_eq}}>
            Public spending
        </option>
        <option value="/employmentandlabourmarket/peoplenotinwork/redundancies"
                {{#if_eq parameters.topic.0"/employmentandlabourmarket/peoplenotinwork/redundancies"}}selected{{/if_eq}}>
            Redundancies
        </option>
        <option value="/economy/governmentpublicsectorandtaxes/researchanddevelopmentexpenditure"
                {{#if_eq parameters.topic.0 "/economy/governmentpublicsectorandtaxes/researchanddevelopmentexpenditure"}}selected{{/if_eq}}>
            Research and development expenditure
        </option>
        <option value="/businessindustryandtrade/retailindustry"
                {{#if_eq parameters.topic.0 "/businessindustryandtrade/retailindustry"}}selected{{/if_eq}}>
            Retail Industry
        </option>
        <option value="/economy/nationalaccounts/satelliteaccounts"
                {{#if_eq parameters.topic.0 "/economy/nationalaccounts/satelliteaccounts"}}selected{{/if_eq}}>
            Satellite accounts
        </option>
        <option value="/businessindustryandtrade/tourismindustry"
                {{#if_eq parameters.topic.0 "/businessindustryandtrade/tourismindustry"}}selected{{/if_eq}}>
            Tourism industry
        </option>
        <option value="/economy/nationalaccounts/uksectoraccounts"
                {{#if_eq parameters.topic.0 "/economy/nationalaccounts/uksectoraccounts"}}selected{{/if_eq}}>
            UK sector accounts
        </option>
        <option value="/employmentandlabourmarket/peoplenotinwork/unemployment"
                {{#if_eq parameters.topic.0 "/employmentandlabourmarket/peoplenotinwork/unemployment"}}selected{{/if_eq}}>
            Unemployment
        </option>
    </select>
</div>