<div class="margin-top--2">
    <label class="filters__title" for="select-updated">Updated</label>
    <select class="input inline js-auto-submit__input" id="select-updated" name="updated">
        <option value="">Select last updated</option>
        <option value="today" {{#if_eq parameters.updated.0 "today"}}selected{{/if_eq}}>Today</option>
        <option value="week" {{#if_eq parameters.updated.0 "week"}}selected{{/if_eq}}>Last 7 days</option>
        <option value="month" {{#if_eq parameters.updated.0 "month"}}selected{{/if_eq}}>Last month</option>
        <option class="js--show" value="custom" {{#if_eq parameters.updated.0 "custom"}}selected{{/if_eq}}>Custom
        </option>
    </select>
</div>

<div class="js-from-to-filters margin-top--2" style="display:none">
	{{> list/filters/publish-date}}
</div>