{{#if_eq ratio "1:1"}}
    <div class="padding-left--2 padding-right--2 padding-top--2 padding-bottom--1">
        <div class="box__content box__content--homepage">
            <h2 class="tiles__title tiles__title-h2--home"><a href="/peoplepopulationandcommunity/householdcharacteristics/homeinternetandsocialmediausage/bulletins/internetaccesshouseholdsandindividuals/2015-08-06">Time series explorer</a></h2>
            <p>Try our tool for downloading multiple time series</p>
        </div>
    </div>
{{/if_eq}}
{{#if_eq ratio "1:2"}}
    <div class="padding-left--2 padding-right--2 padding-top--2 padding-bottom--1">
        <div class="box__content box__content--homepage">
            <h2 class="tiles__title tiles__title-h2--home"><a href="/peoplepopulationandcommunity/householdcharacteristics/homeinternetandsocialmediausage/bulletins/internetaccesshouseholdsandindividuals/2015-08-06">Time series explorer</a></h2>
            <p>Try our tool for downloading multiple time series</p>
        </div>
    </div>
{{/if_eq}}
{{#if_eq ratio "2:1"}}
    <div class="padding-left--2 padding-right--2 padding-top--2 padding-bottom--1">
        <div class="box__content box__content--homepage">
            <h2 class="tiles__title tiles__title-h2--home"><a href="/peoplepopulationandcommunity/householdcharacteristics/homeinternetandsocialmediausage/bulletins/internetaccesshouseholdsandindividuals/2015-08-06">Time series explorer</a></h2>
            <p>Try our tool for downloading multiple time series</p>
        </div>
    </div>
{{/if_eq}}