{{#if_eq ratio "1:1"}}
    <div class="padding-left--2 padding-right--2 padding-top--2 padding-bottom--1">
        <div class="box__content box__content--homepage padding-top-sm--20 padding-top-md--14">
            <h2 class="tiles__title tiles__title-h2--home"><a href="/timeseriestool">Time series explorer<span
                    class="image-holder"><img src="../../img/t1-cal.png" class="no-border"></span></a></h2>
            {{!-- Needs image that resizes to 192x104 --}}
        </div>
    </div>
{{/if_eq}}
{{#if_eq ratio "1:2"}}
    <div class="padding-left--2 padding-right--2 padding-top--2 padding-bottom--1">
        <div class="box__content box__content--homepage padding-top-sm--20 padding-top-md--14">
            <h2 class="tiles__title tiles__title-h2--home"><a href="/timeseriestool">Time series explorer<span
                    class="image-holder"><img src="../../img/t1-cal.png" class="no-border"></span></a></h2>
            <p>Try our tool for downloading multiple time series</p>
        </div>
    </div>
{{/if_eq}}
{{#if_eq ratio "2:1"}}
    <div class="padding-left--2 padding-right--2 padding-top--2 padding-bottom--1">
        <div class="box__content box__content--homepage height--20 padding-left--29">
            <h2 class="tiles__title tiles__title-h2--home"><a href="/timeseriestool">Time series explorer<span
                    class="image-holder width--13"><img src="../../img/t1-cal.png" class="no-border height--19"></span></a></h2>
            {{!-- Needs an image that resizes to 208x152 --}}
            <p>Try our tool for downloading multiple time series</p>
        </div>
    </div>
{{/if_eq}}