{{#partial "block-main"}}
{{#if_eq type "bulletin"}}	
	{{#block "bulletin-page"}}
		{{> content/partials/bulletin-header}}
	{{/block}}
{{else #if_eq type "compendium_landing_page"}}
	{{> content/partials/latest-release-header}}
{{else}}
    {{> content/partials/standard-header}}
{{/if_eq}}
<div class="page-content">
	{{#block "block-content"}}{{/block}}
</div>
{{/partial}}
{{!-- Inherits base template structure --}}
{{> base/base}}