{{#partial "block-intro-secondary"}}
	{{!-- Latest release flag, corrections and notices --}}
	{{#block "block-alert"}}
		{{#if no-versions}}
			{{> partials/alert no-versions=true}}
		{{else}}
			{{> partials/alert}}
		{{/if}}
	{{/block}}

    {{#block "block-metadata"}}
		<div class="meta-wrap">
            <div class="wrapper">
                <div class="col-wrap">
                    {{#block "block-ns-contact"}}
                        {{> content/partials/metadata/contact class="col--md-16 col--lg-20"}}
                    {{/block}}

                    {{#block "block-release-date"}}
                        {{> content/partials/metadata/release-date class="col--md-16 col--lg-20"}}
                    {{/block}}

                    {{#block "block-next-release"}}
                    {{!-- Next release --}}
                        {{> content/partials/metadata/next-release class="col--md-16 col--lg-20"}}
                    {{/block}}

                    {{#block "block-additonal-metadata"}}{{/block}}
                </div>
            </div>
        </div>
    {{/block}}
{{/partial}}

{{!-- Inheriting from base content template --}}
{{> content/base/content}}

