{{!--Not having line breaks before and after the div markups breaks tables displaying on the page--}}
<div class="markdown-equation-container print--avoid-break">

    <div class="markdown-equation-div" data-uri="{{uri}}" data-filename="{{filename}}"></div>

</div>