{{#if description.datasetId}}
{{#partial "block-additonal-metadata"}}
{{!-- Dataset ID --}}
<p class="col col--md-12 col--lg-15 meta__item">
	<span>{{labels.dataset-id}}: </span>{{description.datasetId}}
	<a href="#" class="tooltip-npl" title="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" aria-label="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning">{{labels.dataset-what-is}} </a>
</p>
{{/partial}}
{{/if}}