{{!-- Next release date --}}
<p class="col {{class}} meta__item">
    <span>{{labels.release-next}}: </span><br/>{{#if description.nextRelease}}{{description.nextRelease}}{{else}}To be announced{{/if}}
</p>