{{!-- NS logo --}}
{{#if description.nationalStatistic}}
<p class="col col--md-4 col--lg-4 padding-left">
    <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/"><img
            class="meta__image" src="/node_modules/ONS-Pattern-Library/dist/img/national-statistics.png"
            alt="This is an accredited national statistic. For information about types of official statistics click this link."/></a>
</p>
{{/if}}