{{!-- Release date --}}
<p class="col {{class}} meta__item">
	<span>{{labels.release-date}}: </span><br/>{{df description.releaseDate}}<br/>
    {{#if_all (eq type "timeseries") versions}}{{#unless previous}}<a href="{{uri}}/previous">View previous versions</a>{{/unless}}{{/if_all}}
</p>